*,
*::after,
*::before {
    box-sizing: border-box;
}

:root{
    --main-color: #D7AD7B;
    --second-color: white;
    --bg-color: #214168;
}

body {
    background-color: var(--bg-color);
    justify-content: center;
}

.page {

    border: var(--main-color) solid 1px;
    border-radius: 25px;
    padding: 5px 10px;


}

nav{

    width: 500px;
    height: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0;

}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--second-color);
}


a:hover {
    transition: all ease-in-out 0, 9s;
    color: var(--main-color);
}


header {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

h1 {
  
    color: var(--main-color);
    font-style: italic;
    font-size: 6em;
    margin: 0;
    align-self: center;

}