

a {
  color: var(--second-color);
  text-decoration: none;
}

h1{
  font-size: 2.6rem;
  text-align: center;

}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.4rem;
}

.text{
  margin: 5px;
}


.presentation-container {
  
  color: var(--second-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  height: 696px;
  width: 90%;
  margin:auto;
  position:relative;

  
   
}



.presentation-card{

width: 85vw;
margin-left: 10px;
 height: 80%;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}


.description {
  max-width: 855px;
}

.cadre{
  position:absolute;
  top: 11vh;
  left: 14px;
  width: 96vw;
  height: 80vh;
  z-index: 33;
  pointer-events: none;
  
}



.info-link{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 100vh;
}




.link-container{
  display: flex;
  flex-direction: column;
}

.link {
  border: solid;
  margin-top: 60px;
  border-radius: 40px;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}


.link:hover {
color: var(--main-color);
background-color: var(--bg-color);

}

.opquast {
  position: relative;
  background: var(--main-color);
  padding: 200px 3%;
 
  
  
}

.svg {
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0;
  z-index: 1;
}

.svg.top {
  top: 0;
}

.svg.bottom {
  bottom: 0;
}

.opquast-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
 
}

.opquast-text p{

  min-width: 210px;
  max-width: 800px;
   
}
.opquast-text p, .opquast-text h2 {

color: var(--bg-color);}

.opquast-logo {

  min-width: 120px;
  max-width: 300px;
}


section h2{

  color: var(--second-color);
  margin-left: 10px;
}

section p{

  color: var(--second-color);
  margin-left: 5px;
  margin-bottom: 42px;
}

.section-recommendation{
  height: 130vh;
  background-color: var(--bg-color);
  margin-bottom: 40px;
}

 .card-container {
  display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 59px;
    padding: 30px;
    
  }


.card-recommendation {
  background-color: var(--second-color);
  color: black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  padding: 15px;
  min-width: 363px;
  flex-direction: column;
  flex: 1;
}


.infos-personne {
  border-bottom: black solid 1px;
  
 
}


.infos-personne p {
color: black;
}


blockquote{
  height: 379px;
}



@media (min-width: 1000px){


#recommendation{
  display: none;
}



}



@media (min-width: 800px){

  .link-container{
    flex-direction: row;
  }

#title{
  font-size: 6rem;
}

section p{
  font-size: 1.2rem;
}






}



footer p{
  color: var(--bg-color);
}

footer{
  position: relative;
  z-index: 4;
}