
body{
  overflow-x: hidden;
}



a {
  color: var(--second-color);
  text-decoration: none;
}

h1{
  font-size: 1rem;
}

.text{
  margin: 5px;
}


.main-section {
  
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: relative;
   height: 200vh;
}

.sticky-zone{

height: 90vh;
}


#title {
  font-size: 3rem;
  position: sticky;
  top: 20px;
  
  
}




.nuage1{
  position: absolute;
  width: 763px ;
  right: 3px;
  top: -286px ;
  z-index: -2;
 

}

.nuage2{

  position: absolute;
  width: 469px ;
  left: -180px;
  top: 165px;
  z-index: 2;
  
}

.nuage3{

  position: absolute;
  width: 350px ;
  left: 30px;
  top: 150px ;
  z-index: -2;
  
}

.nuage4{

  position: absolute;
  width: 597px ;
  right: 106px ;
  top: 384px ;
  z-index: -2;

}



.text a {

  border: solid;
  margin-top: 60px;
  border-radius: 40px;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}


.text a:hover {
color: var(--main-color);
background-color: var(--bg-color);

}

.opquast {
  position: relative;
  background: var(--main-color);
  padding: 200px 3%;
  
}

.svg {
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0;
  z-index: 1;
}

.svg.top {
  top: 0;
}

.svg.bottom {
  bottom: 0;
}

.opquast-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
}

.opquast-text p{

  min-width: 210px;
  max-width: 800px;
}

.opquast-logo {

  min-width: 120px;
  max-width: 300px;
}


section h2{

  color: var(--second-color);
  margin-left: 10px;
}

section p{

  color: var(--second-color);
  margin-left: 5px;
  margin-bottom: 42px;
}

 .card-container {
  display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 59px;
    padding: 30px;
  }


.card-recommendation {
  background-color: var(--second-color);
  color: black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  padding: 15px;
  min-width: 363px;
  flex-direction: column;
}


.infos-personne {
  border-bottom: black solid 1px;
  
 
}


.infos-personne p {
color: black;
}


@media (min-width: 1000px){


#recommendation{
  display: none;
}


}



@media (min-width: 800px){


#title{
  font-size: 6rem;
}

section p{
  font-size: 1.2rem;
}

 h2{
  font-size: 1.6rem;
}



}



footer p{
  color: var(--bg-color);
}