
:root{
    --bleu :  #B2C0F0;

}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--second-color);
  line-height: 2rem;
  
  
}

header{
    margin-bottom: 30px;
}

figure img{
    width: 90%;
    max-width: 700px;
}


h1{
    font-size: 3rem;
}

#url{
    border: var(--main-color) solid 1px;
}


.retour, #url{
    color:var(--second-color);
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: ease-out 0.3s;
   
    
}

.sectionTitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
   
    
}


.retour:hover{
    color: var(--main-color);
}

#url:hover{
    
    background-color: var(--bg-color);
     color: var(--main-color);


}




main{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
gap: 20px;
flex:1;



}


#url{
align-self: center;
margin: 30px;
 border-radius: 40px;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}


@media (min-width : 1000px) {
    
 h1{
    font-size: 5rem;
 }   


.content{

display: flex;
flex-direction: row;
} 


#caracteristique  {
    max-width: 500px;
}
 
#description {
    max-width: 920px;
    font-size: 1.2rem;
}

}


#description, #caracteristique{
    white-space: pre-line;
}


div{
    display: flex;
    flex-direction: column;
}

.tag {


padding: 3px;
margin-left: 6px;
margin-right: 6px;
border: solid 1px var(--bleu);
color: var(--bleu);



}

