html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
    margin-bottom: 30px;
}

figure img{
    width: 90%;
}


h1{
    font-size: 3rem;
}

.retour, #url{
    color:var(--second-color);
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    
}

.sectionTitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.retour:hover, #url:hover{
    color: var(--main-color);
}

main{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
gap: 20px;
flex:1;



}



@media (min-width : 750px) {
    
    main{
        flex-direction: row;
    }

#url{
align-self: center;
margin: 30px;}

 
}


#information{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}



#information button{
background-color: var(--main-color);
color: var(--bg-color);
border: none;
margin-top: 60px;
font-size: 1.1rem;}

#information button:hover {

    color: var( --main-color);
    background-color: var(--bg-color);
    border: var(--main-color) 2px solid;
}


#information div {

    border: solid var(--main-color) 3px;
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    color: var(--second-color);
    padding: 20px;

}