body{color: var(--second-color);}

h1 {
    color: var(--main-color);
    font-style: italic;
    font-size: 5em;
    margin: 0;
    text-align: center;

}

form {

    width: 100%;
    margin-bottom: 20px;
   

}


main {
    
    margin: auto;
    width: 50%;
    min-width: 450px;
    border-radius: 80px;
    padding: 10px 20px 20px 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 50px;
}


@media (max-width: 800px) {

    main {width: 100%; }

}



label {
    font-size: 1.2rem;
}


div{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: 20px;
}



input {
   width: 100%;
    font-size: 1.2rem;
    background-color: var(--bg-color);
    border: none;
    border-bottom: var(--main-color) solid;
    color: var(--second-color);
   
}

textarea {
    color: var(--second-color);
    margin-top: 10px;
    width: 100%;
    background-color: var(--bg-color);
    border: solid var(--main-color);
    resize: none;
    overflow: scroll;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.bouton {
    color: var(--main-color);
    border: solid;
    width: fit-content;
    padding: 10px;
    border-radius: 80px;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);

}

.bouton:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}


aside{border: none;}






img{width: 90px;}

a{display: inline;}