*,
*::after,
*::before {
    box-sizing: border-box;
}

:root{
    --main-color: #D7AD7B;
    --second-color: white;
    --bg-color: #214168;
}

body {
    background-color: var(--bg-color);
    justify-content: center;
   
    
}

.page {

   border: var(--main-color) solid 1px;
    border-radius: 25px;
    padding: 5px 10px;


}

nav{

  width: 500px;
    height: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0;

}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--second-color);
   
    
}


a:hover {
    transition: all ease-in-out 0, 9s;
    color: var(--main-color);
}


header {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

h1 {

    color: var(--main-color);
    font-style: italic;
    font-size: 6em;
    margin: 0;
    align-self: center;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 80px;
    
}

figure{
    margin: 0%;
    display: inline-block;
    width: fit-content;
    width: 100%;
    

}



img{
    box-shadow: #000000 16px 30px 30px;
    background-size: 88% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

figure:hover{
    transform: scale(1.2);
}


a:first-child, a:last-child{
    width: 30%;
}

a:nth-child(2) {

    width: 20%;
}

a:nth-child(3) {

    width: 25%;
}


a:nth-child(4) {

    width: 20%;
}

a:nth-child(5) {

    width: 25%;
}

a:first-child img{
background-image: url(../projet/interview.png); 
}

a:nth-child(2) img{
 background-image: url(../projet/refonte.png);

}

a:nth-child(3) img{
    background-image: url(../projet/sitemusical.png);
}

a:nth-child(4) img{
background-image: url(../projet/interview.png);

}

a:nth-child(5) img{
 background-image: url(../projet/refonte.png);

}

a:nth-child(6) img{
    background-image: url(../projet/sitemusical.png);
   
}

a:last-child img{
    background-image: url(../projet/interview.png);
   
}


