h1 {

    color: var(--main-color);
    font-style: italic;
    font-size: 6em;
    margin: 0;
    align-self: center;

}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 100px;

    
}

figure{
    margin: 0%;
    display: inline-block;
    width: fit-content;
    width: 100%;
    

}




@media (max-width: 800px) {
    main {
        flex-wrap: nowrap; 
        overflow-x: auto;  
        scroll-snap-type: x mandatory; 
        gap: 30px;         
        padding: 40px 20px; 
        width: 100%;
        justify-content: flex-start; 
    }

    main a {
        flex: 0 0 80%;     
        scroll-snap-align: center; 
        width: auto;       
    }

    figure {
        width: 100%;
    }


figure:hover{
    transform: scale(0.2);
}

}




img{
    box-shadow: #000000 16px 30px 30px;
    background-size: 88% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

figure:hover{
    transform: scale(0.9);
}


a:first-child, a:last-child{
    width: 30%;
}

a:nth-child(2) {

    width: 20%;
}

a:nth-child(3) {

    width: 25%;
}


a:nth-child(4) {

    width: 20%;
}

a:nth-child(5) {

    width: 25%;
}

a:first-child img{
background-image: url(../projet/interview.png); 
}

a:nth-child(2) img{
 background-image: url(../projet/refonte.png);

}

a:nth-child(3) img{
    background-image: url(../projet/sitemusical.png);
}

a:nth-child(4) img{
background-image: url(../projet/interview.png);

}

a:nth-child(5) img{
 background-image: url(../projet/refonte.png);

}

a:nth-child(6) img{
    background-image: url(../projet/sitemusical.png);
   
}

a:last-child img{
    background-image: url(../projet/interview.png);
   
}


