
.main-section{
    display: flex;
    justify-content: flex-end;
}

.main-section img{
    width: 100vh;
    
}


.opquast {
  position: relative;
  background: var(--main-color);
  padding: 200px 10%;
  overflow: hidden;
  
}


.svg {
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0;
  z-index: 1;
}

.svg.top {
  top: 0;
}

.svg.bottom {
  bottom: 0;
}

.opquast-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  color: white;
}



 h2{
    color: var(--second-color);
    margin: 20px;
    font-size: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 30px;
}

.card-recommendation:nth-child(2){
    align-self: flex-end;
}


.card-recommendation{

 background-color: var(--second-color);
 border-radius: 15px;
 display: flex;
 justify-content: center;
 padding: 5px;
 width: 600px;
 
}

.infos-personne{
    border-right: black solid 1px;
    max-width: 25%;
    padding-right: 5px;
}



@media (max-width: 800px) {
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        overflow-x: auto;  
        scroll-snap-type: x mandatory; 
        gap: 30px;         
        padding: 40px 20px; 
        width: 100%;
        justify-content: flex-start; 
       width: 100vw;
       margin-bottom: 100px;
        
    }

    main a {
        flex: 0 0 80%;     
        scroll-snap-align: center; 
        width: auto;       
    }

  .card-recommendation {
        flex: 0 0 85%; 
        width: auto;
        scroll-snap-align: center;
        max-width: 500px;
    }

   


}
