*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    --main-color: #D7AD7B;
    --second-color: white;
    --bg-color: #214168;
}

body {
    background-color: var(--bg-color);
    justify-content: center;
    color: var(--main-color);
    margin: 0;
    display: flex;
    gap: 40px;
    flex-direction: column;
    height: 100%;
}

.page {

    border: var(--main-color) solid 1px;
    border-radius: 25px;
    padding: 5px 10px;

}

nav {

    width: 500px;
    height: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0;

}

nav a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--second-color)
}

nav a:hover {
    transition: all ease-in-out 0, 9s;
    color: var(--main-color);
}


header {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

h1 {
    color: var(--main-color);
    font-style: italic;
    font-size: 5em;
    margin: 0;
    align-self: center;

}

form {

    width: 100%;

}

main {
    margin: 20px;
    width: 60%;
    border: var(--main-color) solid 2px;
    border-radius: 80px;
    padding: 10px 40px 30px 40px;
}

label {
    font-size: 1.2rem;

}

input {
    margin-top: 10px;
    font-size: 1.2rem;
    width: 90%;
    background-color: var(--bg-color);
    border: none;
    border-bottom: var(--main-color) solid;
    color: var(--second-color);
}

textarea {
    color: var(--second-color);
    margin-top: 10px;
    width: 90%;
    background-color: var(--bg-color);
    border: solid var(--main-color);
    resize: none;
    overflow: scroll;
    font-size: 1.2rem;

}

input:last-of-type {
    color: var(--main-color);
    border: solid;
    width: fit-content;
    padding: 10px;
    border-radius: 80px;
    display: block;
    margin: auto;

}

input:last-of-type:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

footer {
    background-color: var(--main-color);
    color: var(--bg-color);
    box-sizing: border-box;
    
}

section a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bg-color);

}

section a:hover {
    text-decoration: underline;
}

section ul {
    list-style: none;
}