*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
  --white: #F1E6E6;
  --pink: rgb(220, 78, 117);
  --blue: #5377DF;
  --black: #252020;

}

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('./assets/fonts/CabinetGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kunatic";
  src: url("./assets/fonts/KunaticDemo.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}







body{background-color : var(--white);
     background-image: 
    linear-gradient(to right, rgba(220, 78, 117, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(220, 78, 117, 0.2) 1px, transparent 1px);
    background-size: 60px 60px; 
    margin: 8px 0;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
}
    
header{
    height: 100vh;
}

h1{
    font-size: 4.5rem;
    color:var(--pink);
    margin: 0;
    text-align: center;
    font-family: 'Kunatic', sans-serif;
    font-weight: 400;
}


.texte-black{
    color: var(--black);
    font-size: 1.45rem;
    text-align: center;
}

h2{
    font-size : 4rem;
    font-family: 'Kunatic', sans-serif;
    font-weight: 400;
}

.h2-pink{
color: var(--pink);
}

.h2-white{
  color: var(--white);
}

.cv__section{
    height: 100vh;
    background-color: var(--blue);

}
.projects__section{
    height: 100vh;
}

.apprentiship__section{
    height: 100vh;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
     
}



.button {

    font-size: 1.3rem;
    padding: 8px 15px;
    text-decoration: none;
    color: var(--white);
    border : 3px solid var(--white);
}


.button:hover{
transition: all ease-in-out 0.3s;
background-color: var(--white);
}
.button-pink:hover {
    color: var(--pink);
}

.button-blue:hover {
    color: var(--blue);
    
}

div{
    gap: 20px;
}